html,
body {
  height: 100%;
  margin: 0;
  background-color: #3ee3cf;
  font-family: 'Inter';
  overflow-x: hidden;
}

::selection {
  background-color: #fff; /* Highlight background color (e.g., Tomato color) */
  color: #000; /* Text color when highlighted */
}

.App {
  text-align: center;
}

.BackgroundBox {
  overflow-x: hidden;

  min-height: 100vh;
  width: 100vw;
  background-color: #3ee3cf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScreenContainer {
  width: auto;
  padding-right: 4rem;
  padding-left: 4rem;
  max-width: 100rem;
}

.HeaderBoxContainer {
  width: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.HeaderRightSection {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.Logo {
  height: 40px;
}

.GetAppButton {
  height: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter';
  font-weight: 700;

  max-width: 100px;

  cursor: pointer;

  color: #000;
  text-decoration: none;
}

.GetAppButton:hover {
  background-color: #000000;
  color: white;
  transition: all 0.2s;
}

.ContentBoxContainer {
  width: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.ContentBox {
  display: flex;
  width: 80vw;
  min-width: 320px;
}

.ContentColumn {
  flex: 6;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* padding-right: 2rem; */
  align-items: flex-start;
}

.ImageHolder {
  display: flex;
  justify-content: flex-end;
  flex: 4;
}

.InsideImageHolder {
  position: relative;
  opacity: 0; /* Initially hidden */
  transform: translateY(50rem); /* Start position below */
  animation: slideUp 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  margin-top: -50px;
  max-width: max-content;
}

.ContentImage {
  height: 45rem;
  object-fit: contain;
  position: relative;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  background-color: transparent;
  max-width: 100%;
}

.FloatingProfilePictureImage {
  object-fit: contain;
  position: absolute;
  border-radius: 100%;
  border-width: 4px;
  border-color: #3ee3cf;
  border-style: solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  animation: float 3s ease-in-out infinite;
  transition: transform 0.5s ease-out; /* Smooth hover effect */
}

.FloatingProfilePictureImage:hover {
  animation: none; /* Stops animation on hover */
  transform: translateY(-10px); /* Resets position */
}

.ContentTitle {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 4rem;
  animation: fadeIn 1s forwards; /* Apply the animation */
}

.ContentDescription {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  animation: fadeInDelayed 2s forwards; /* Apply the animation */
}

.DownloadFromHolder {
  display: flex;
  gap: 2rem;
}

.DownloadFromButton {
  height: 3rem;
  object-fit: contain;
}

.Footer {
  color: #000;
  padding-top: 1rem;
  text-align: center;

  width: auto;
  padding-bottom: 4rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.FooterContent {
  font-size: 12px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Footer p {
  font-size: 12px;
}

.FooterLinks {
  list-style: none;
  padding: 0;
}

.FooterLinks li {
  display: inline;
  margin: 0 15px;
}

.FooterLinks a {
  color: #000;
  text-decoration: none;
}

.FooterLinks a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully visible */
  }
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  50% {
    opacity: 0; /* Stay fully transparent */
  }
  100% {
    opacity: 1; /* End fully visible */
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* Moves up */
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .HeaderBoxContainer {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 30px;
  }
  .Logo {
    height: 100%;
  }
  .GetAppButton {
    height: 100%;
  }

  .ContentBoxContainer {
    padding-top: 2rem;
  }

  .ContentColumn {
    text-align: center;
    margin: 0 1.5rem;
    gap: 2rem;
    align-items: center;
  }
  .ContentTitle {
    font-size: 2.5rem;
  }

  .ContentDescription {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .ContentImage {
    height: 35rem;
  }

  .ImageHolder {
    justify-content: center;
  }

  .InsideImageHolder {
    margin: 0;
  }

  .FloatingProfilePictureImage {
    border-width: 3px;
  }
}
