html, body {
  height: 100%;
  margin: 0;
  background-color: #3ee3cf;
}

.App {
  text-align: center;
}

.BackgroundBox {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #3ee3cf;
}

.HeaderBoxContainer {
  width: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.HeaderBox {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 320px;
}

.Logo {
  height: 40px;
}

.GetAppButton {
  height: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter';
  font-weight: 700;

  max-width: 100px;

  cursor: pointer;
}

.GetAppButton:hover {
  background-color: #000000;
  color: white;
  transition: all 0.2s;
}

.ContentBoxContainer {
  width: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.ContentBox { 
  display: flex;
  width: 80vw;
  min-width: 320px;
}

.ContentColumn {
  flex: 6;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-right: 2rem;
}

.ImageHolder {
  display: flex;
  justify-content: flex-end;
  flex: 4;
}

.ContentImage {
  height: 20rem;
  object-fit: contain;
  position: relative;
  right: 0;
}

.ContentTitle {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 4rem;
  animation: fadeIn 1s forwards; /* Apply the animation */
}

.ContentDescription {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 2rem;
  animation: fadeInDelayed 2s forwards; /* Apply the animation */

}

.DownloadFromButton {
  height: 4rem;
  object-fit: contain;

}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully visible */
  }
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  50% {
    opacity: 0; /* Stay fully transparent */
  }
  100% {
    opacity: 1; /* End fully visible */
  }
}

@media screen and (max-width: 768px) {
  .HeaderBoxContainer {
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .HeaderBox {
    width: 100%;
  }

  .ContentBoxContainer {
    padding-top: 2rem;
  }

  .ContentColumn {
    text-align: center;
    padding-right: 0;
    gap: 2rem;
    align-items: center;
  }
  .ContentTitle {
    font-size: 2rem;
  }

  .ContentDescription {
    font-size: 1.5rem;
  }
}