html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #3ee3cf;
}

.BackgroundBox {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #3ee3cf;
}

.HeaderBoxContainer {
  width: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.HeaderBox {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Logo {
  height: 40px;
}

.GetAppButton {
  height: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter';
  font-weight: 700;

  max-width: 120px;

}

.ContentBoxContainer {
  width: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.ContentBox { 
  display: flex;
}

.ContentColumn {
  flex: 6;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ContentImage {
  flex: 4;
}

.ContentTitle {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 4rem;
}

.ContentDescription {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 2rem;
}